.about-us-mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1rem;
    margin: 2.2rem;
    border-bottom: 1px solid $dark-gray;
    padding-bottom: 3rem;
    .logo-group {
        display: flex;
        height: 6rem;
        align-items: center;
        justify-content: center;

        .logo-us {
            background-image: url("https://i.ibb.co/Dk7vj70/logo-fd.png");
            background-size: cover;
            height: 10rem;
            width: 6rem;
            background-repeat: no-repeat;
            background-position: center;
        }



        h1 {
            font-family: "Raleway", sans-serif;
            text-wrap: nowrap;
            font-size: 2.5rem;
            text-wrap: nowrap;
        }
    }

    p {
        font-family: "Poppins", sans-serif;
        font-size: 1.3rem;
        text-align: center;
        padding: 1.2rem;
    }
}

//---------DESKTOP----------------------------

.about-us-desktop {
    display: flex;
    justify-content: space-between;
    align-self: center;
    align-items: center;
    padding-right: 7rem;
    padding-left: 7rem;
    padding-bottom: 5rem;
    margin: 3rem;
    margin-top: 0;
    margin-bottom: 5rem;
}

.about-us-img-desktop {
    width: 110%;
    height: 100%;
    object-fit: contain;

}

.text-section-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .text-group {
        width: 80%;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: baseline;
    }

    p {
        font-family: "Poppins", sans-serif;
        margin: 1rem;
        font-size: 1.4rem;
    }

    .NavLink {
        text-decoration: underline;
        color: $black;
        font-weight: bold;
    }

    .logo-group {
        display: flex;
        height: 9rem;
        align-items: center;
        justify-content: flex-start;
        
        
        img {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }

        h1 {
            font-family: "Raleway", sans-serif;
            text-wrap: nowrap;
            font-size: 3.1rem;
            padding-right: 5rem;
        }
    }


}