.about-us-mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1rem;
    margin: 2.2rem;

    .logo-group {
        display: flex;
        height: 6rem;
        align-items: center;
        justify-content: center;

        img {
            height: 120%;
            width: auto;
            object-fit: contain;
        }

        h1 {
            font-family: "Raleway", sans-serif;
            text-wrap: nowrap;
            font-size: 2.5rem;
        }
    }

    p {
        font-family: "Poppins", sans-serif;
        font-size: 1.3rem;
        text-align: center;
        padding: 1.2rem;
    }
}

//---------DESKTOP----------------------------

.about-us-desktop {
    display: flex;
    justify-content: space-between;
    align-self: center;
    align-items: center;
}

.about-us-img-desktop {
    background-image: url("https://i.ibb.co/f8sP9PF/about-us-image.png");
    width: 100%;
    height: 40rem;
    background-size: cover;
    background-repeat: no-repeat;

}

.text-section-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
   
    p  {
        font-family: "Poppins", sans-serif;
        margin: 1rem;
        padding: .7rem;
        font-size: 1.2rem;
    }

    .logo-group {
        display: flex;
        height: 9rem;
        align-items: center;
        justify-content: flex-start;
        margin: 3%;
        img {
            height: 120%;
            width: auto;
            object-fit: contain;
        }

        h1 {
            font-family: "Raleway", sans-serif;
            text-wrap: nowrap;
            font-size: 3rem;
        }
    }
    

}

