.about-us-mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 2rem;
    margin: 2.2rem;
    .logo-group {
        display: flex;
        height: 6rem;
        align-items: center;
        justify-content: center;  
        img {
            height: 120%;
            width: auto;
            object-fit: contain;
        }
        h1 {
            font-family: "Raleway", sans-serif;
            text-wrap: nowrap;
            font-size: 2.5rem;
        }
    }
    p {
        font-family: "Poppins", sans-serif;
        font-size: 1.3rem;
        text-align: center;
        padding: 1.2rem;
    }
}

//---------DESKTOP----------------------------