.app-container {
   display: flex;
   flex-direction: column;
   width:  fit-content;
   height: fit-content;
 
}



/* Utility Classes */
.hidden {
    display: none;
}

.visible {
    display: block;
}