.cta-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Raleway", sans-serif;
    padding: .5rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    width: 100%;
    height: auto;
    h1 {
        text-align: center;
        text-transform: uppercase;
        padding: 2rem;
    }

    


    button {
        border: 2px solid $black;
        text-transform: capitalize;
        color: $black;
        padding: 1rem;
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
        font-size: 1.7rem;
        margin-left: 1.4rem;
        margin-right: 1.4rem;
        border-radius: 1.6rem;
    }


}

.slider-section {
    width: 98vw;
    height: 100%;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.swiper-div {
    width: 98%;
    height: 100%;
    margin: 0 auto;
    border: 1px solid $text-gray;
    border-radius: 1.4rem;
    background-color: $main-white;
    
}


.flex {
    display: flex;
    padding: 1rem;
    justify-content: space-around;
    align-items: center;
    font-family: "Poppins", sans-serif;
    p {
        font-size: 1.08rem;
        margin: 1rem;
    }

    img {
        object-fit: contain;
        width: 9rem;
        height: 9rem;
        margin: 2rem;
    }

    h3 {
        margin-top: .5rem;
        margin-bottom: .5rem;
        font-size: 1.5rem;
        text-align: center;
    }
}

//---------DESKTOP---------------------------

.cta-desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8%;
    padding: 6%;
    margin-top: 0;
    margin-bottom: 0;
    
}

.article-services-list-img {
    background-image: url("https://i.ibb.co/LJP3Snh/servicios-4.png");
    width: 100%;
    height: 65vh;
    background-position: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    
}

.article-services-list-items {
    padding: 2%;
}

.article-services-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h4 {
        font-size: 1.4rem;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 2%;
        color: $text-gray;
    }
    ion-icon {
        font-size: 32px;
        margin-right: 3%;
        --ionicon-stroke-width: 1.9rem;
    }
    font-family: "Raleway", sans-serif;
}

.article-services-title {
    font-size: 1.8rem;
    padding: 2%;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
}

.article-services-p {
    font-size: 1.1rem;
    padding: 5% 2%;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    color: $text-gray;
}

.article-services-button {
    color: $text-gray;
    margin: 7% 0% 0%;
    padding: 2% 6%;
    background-color: $color-amarillo;
    border-radius: 1.3rem;
    font-size: 1.2rem;
    width: 100%;
    text-transform: capitalize;
    transition: all 0.5s !important;
}

.article-services-button:hover {
    background-color: $black;
    color: $main-white;
}
