.section-contacts {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}
  
.contacts-svgs {
    width: 21%; /* Ajusta el tamaño de los SVGs según sea necesario */
    padding: 2%;
    
} 