.section-contacts {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}
  

.new-icons {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.wrapper {
    a {
        all: unset;
    }
}

.wrapper .button{
    display: inline-block;
    height: 3.4375rem;
    width: 3.4375rem;
    margin: 0 0.3125rem;
    overflow: hidden;
    background: #fff;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0rem 0.625rem 0.625rem rgba(0,0,0,0.1);
    transition: all 0.3s ease-out;
    span {
        font-family: "Poppins", sans-serif;
    }
  }
  .wrapper .button:hover{
    width: 11.26rem;
  }
  .wrapper .button .icon{
    display: inline-block;
    height: 3.4375rem;
    width: 3.4375rem;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 3.4375rem;
    transition: all 0.3s ease-out;
  }
  .wrapper .button:nth-child(1):hover .icon {
    background: #4267B2;
  }
  .wrapper .button:nth-child(2):hover .icon {
    background: #ea4335;
  }
  .wrapper .button:nth-child(3):hover .icon{
    background: #E1306C;
  }
  .wrapper .button:nth-child(4):hover .icon{
    background: #25D366;
  }
  .wrapper .button:nth-child(5):hover .icon{
    background: #ff0000;
  }
  .wrapper .button .icon i{
    font-size: 1.5625rem;
    line-height: 3.4375rem;
    transition: all 0.3s ease-out;
  }
  .wrapper .button:hover .icon i{
    color: #fff;
  }
  .wrapper .button span{
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 3.4375rem;
    margin-left: 0.625rem;
    transition: all 0.3s ease-out;
  }
  .wrapper .button:nth-child(1) span{
    color: #4267B2;
  }
  .wrapper .button:nth-child(2) span{
    color: #ea4335;
  }
  .wrapper .button:nth-child(3) span{
    color: #E1306C;
  }
  .wrapper .button:nth-child(4) span{
    color: #25D366;
  }
  .wrapper .button:nth-child(5) span{
    color: #ff0000;
  }