.main-footer {
    background-color: $bg-c-footer;
    width: 100vw;
}

.footer-button {
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    color: $text-gray;
    background-color: transparent;
    font-weight: 700;
}

.buttons-section {
    display: flex;
    justify-content: space-around;
    width: 45vw;
    height: 100%;
    padding: 1%;
}

.fd-logo-section {
    background-image: url(../assets/logo-fd.png);
    height: 10vh;
    width: 10vw;
    background-repeat: no-repeat;
    background-size: contain;
}

.footer-upper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 2%;
}

.footer-lower {
    display: flex;
    justify-content: center;

    
}
.lower-border {
    p {
        font-family: "Poppins", sans-serif;
        font-size: 1.2rem;
    }
    border-top: 1px solid black;
    width: 50vw;
    display: flex;
    justify-content: center;
    padding: 1%;
}

