/* Header.scss */

/* Estilos base para el header */
.header {
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    background-image: url("https://i.ibb.co/g94Ksg2/header-bg-update.pngs");
    background-size: 90%;
    background-repeat: no-repeat;
    height: 21rem;
    width: 100%;
    z-index: 1;
    overflow: hidden; /* Asegura que el fondo no se desborde */
    @media (max-width: 1330px) {
        display: none;
    }
}

/* Animación del fondo del header */
.header.animated {
    animation: bgMove 2s forwards; /* Ajusta el tiempo de la animación */
}

@keyframes bgMove {
    0% {
        background-size: 0%;
    }
    100% {
        background-size: 105rem;
    }
}

/* Animación para el logo */
.header-nav {
    opacity: 0; /* Inicialmente invisible */
    transition: opacity 1s ease-in; /* Transición suave para fade-in */
    display: flex;
    height: 36%;
    width: 47rem;
    position: relative;
    top: 11%;

    &.fade-in {
        opacity: 1; /* Se vuelve visible cuando la animación empieza */
    }

    img {
        animation: imgResize 2s forwards; /* Ajusta el tiempo de la animación */
    }
}

@keyframes imgResize {
    0% {
        transform: scale(0.5);
        top: 0;
        left: 0;
    }
    100% {
        transform: scale(1);
        top: 11%;
        left: 0;
    }
}

/* Animación para los contactos */
.header-contacts {
    opacity: 0; /* Inicialmente invisible */
    transition: opacity 1s ease-in; /* Transición suave para fade-in */
    width: 25rem;
    height: 40%;
    position: relative;
    top: 10%;
    &.fade-in {
        opacity: 1; /* Se vuelve visible cuando la animación empieza */
    }
}
