.header {
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    background-image: url("../assets/background-nav.png");
    background-size: cover; 
    height: 40vh;
    width: 100%;
}

.header-nav {
    display: flex;
    justify-content: space-around;
    
    border: 1px solid blue;
    height: 40%;
    
    position: relative;
    top: 2.2rem;
    width: 55vw;
    img {
        border: 3px solid purple;
        height: 100%;

    }
}

.header-contacts {
    width: 15%;
    margin-right: 3rem;
    height: 40%;
    position: relative;
    top: 2.2rem;
}

