.header {
    display: flex;
    gap: 32vw;
    background-image: url("../assets/header-bg-update.png");
    background-size: 90%; 
    background-repeat: no-repeat;
    height: 38vh;
    width: 100%;
    @media (max-width: 1330px) {
        display: none;
    }
}

.header-nav {
    display: flex;
    height: 36%;
    width: 40%;
    position: relative;
    top: 2.2rem;
    @media (max-width: 1330px) {
        display: none;
    }
}

.header-contacts {
    width: 30%;
    height: 40%;
    position: relative;
    top: 2.2rem;
    left: 7%;
}



