.initialServices-mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: "Poppins", sans-serif;
    margin: 1rem;
    padding: 1rem;

    img {
        width: 20rem;
        height: 20rem;
        object-fit: cover;
        margin-bottom: 2rem;
    }

    h1 {
        text-align: center;
        margin-bottom: 1rem;
    }

    p {
        text-align: center;
        font-size: 1.23rem;
    }

    h1:nth-child(1) {
        color: $rosado-diseno;
    }

    h1:nth-child(4) {
        color: $azul-diseno;
    }

    h1:nth-child(7) {
        color: $naranja-diseno;
    }
}

//-----------INITIALSERVICES--DESKTOP------------------


.initialServices-desktop {
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4rem;
    margin-top: 0;
    .diseno-web,
    .asesoramiento,
    .diseno-logo {
     
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        img {
            width: 40vw;
            height: 40vw;
            object-fit: contain;
            margin-bottom: 2rem;
            margin-right: 3rem;
            margin-left: 3rem;
            
        }

        p {
            color: $text-gray;
            font-size: 1.7rem;
            margin-top: 2rem;
            text-align: center;
            font-family: "Poppins", sans-serif;
            padding: 1rem;
            margin-right: 7rem;
            margin-left: 7rem;
        }

        h1 {
            font-size: 3.2rem;
            font-family: "Poppins" ,sans-serif;
            padding-top: 10rem;
            text-align: center;
            margin-left: 7rem;
            margin-right: 7rem;
        }

        div:nth-child(2) {
            color: $azul-diseno;
            p {color: $text-gray;}
        }

        .rosa {
            color: $rosado-diseno;
        }

        .naranja {
            color: $naranja-diseno;
        }
            
            

    }

}