/* Landing.scss */
.initial-services {
    position: absolute;
    top: 200%;
    /* Ajusta este valor según sea necesario */
    padding-bottom:6%;
}



.about-us {

    position: absolute;
    top: 100%;
    /* Ajusta este valor según sea necesario */
    margin-left: 10%;
    padding-bottom: 6%;

}

/* Estilos base para el landing */
.landing-main {
    display: flex;
    height: 80vh;
    z-index: 2;
    position: absolute;
    top: 18%;
    width: 100%;
    opacity: 0;
    /* Inicialmente invisible */
    transition: opacity 1.5s ease-in;
    /* Transición suave para fade-in */

    &.fade-in {
        opacity: 1;
        /* Se vuelve visible cuando la animación empieza */
    }
}

/* Estilos para la sección del landing */
.landing-section {
    position: relative;
    top: 13%;
    left: 4%;
    height: 90%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 2rem;
    padding-right: 0;
    @media (max-width: 600px) {
        top: 5%;
    }
}

/* Estilos para el primer artículo */
.first-article {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1rem;
    margin-left: 1.4rem;
    height: 70%;
    font-family: "Raleway", sans-serif;
    width: 120%;
    h1 {
        font-size: 5.5rem;
        
    }

    h2 {
        padding-bottom: 1rem;
        font-size: 2rem;
        color: black;
    }
    margin-left: 1.5rem;
    font-family: "Poppins", sans-serif;
    
    /* Asegúrate de definir esta variable en tu archivo de variables */

    p {
        margin-bottom: 0.7rem;
        font-weight: 400;
        font-size: 1.1rem;
        color: $text-gray;
        width: 80%;
    }

    strong {
        font-size: 1.2rem;
        color: $text-gray;
    }

}



/* Estilos para el botón de la sección del landing */
.landing-section-button {
    border: none;
    margin-left: 6%;
    margin-bottom: 5%;
    background-color: $button-yellow;
    /* Asegúrate de definir esta variable en tu archivo de variables */
    font-family: "Raleway", sans-serif;
    font-size: 1.2rem;
    padding: 0.7rem;
    color: #fafafa;
    font-weight: 700;
    border-radius: 0.9rem;
    cursor: pointer;
    transition: all 0.2s;
    transition-timing-function: ease-out;
    text-transform: uppercase;
    &:hover {
        color: $main-white;
        /* Asegúrate de definir esta variable en tu archivo de variables */
        background-color: black;
    }
}

/* Estilos para la imagen de fondo del landing */
.landing-image {
    height: 100%;
    width: 100%;
    background-image: url("../../src/assets/main-img.png");
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: center;
    @media (max-width: 1330px) {
        display: none;
    }
}

