/* Estilos base para el landing */
.landing-main {
    display: flex;
    height: 80vh;
    z-index: 2;
    position: relative;
    top: -10rem;
    width: 100%;
    opacity: 0;
    /* Inicialmente invisible */
    transition: opacity 1.5s ease-in;
    /* Transición suave para fade-in */

    &.fade-in {
        opacity: 1;
        /* Se vuelve visible cuando la animación empieza */
    }

}

/* Estilos para la sección del landing */
.landing-section {
    position: relative;
    top: 15%;
    left: 4%;
    height: 80%;
    width: 70%;

    padding: 2%;

}

/* Estilos para el primer artículo */
.first-article {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 0;
    height: 100%;
    width: 120%;

    h1 {
        font-size: 5.2rem;
        padding-left: 0;
        font-weight: 600;
        font-family: "Raleway", sans-serif;
    }

    h2 {
        padding-bottom: 1%;
        font-size: 2rem;
        color: black;
    }

    margin-left: 3%;
    font-family: "Poppins",
    sans-serif;

    /* Asegúrate de definir esta variable en tu archivo de variables */

    p {
        margin-bottom: 1.5%;
        font-weight: 400;
        font-size: 1.1rem;
        color: $text-gray;
        width: 80%;
        padding-left: 0;
    }

    strong {
        font-size: 1.2rem;
        color: $text-gray;
    }

}



/* Estilos para el botón de la sección del landing */
.landing-section-button {
    border: none;
    margin-top: 5%;
    background-color: $button-yellow;
    /* Asegúrate de definir esta variable en tu archivo de variables */
    font-family: "Raleway", sans-serif;
    font-size: 1.2rem;
    padding: 1.5%;
    color: #fafafa;
    font-weight: 700;
    border-radius: 0.9rem;
    cursor: pointer;
    transition: all 0.2s;
    transition-timing-function: ease-out;
    text-transform: uppercase;

    &:hover {
        color: $main-white;
        /* Asegúrate de definir esta variable en tu archivo de variables */
        background-color: black;
    }
}

/* Estilos para la imagen de fondo del landing */
.landing-image {
    height: 100%;
    width: 100%;
    background-image: url("https://i.ibb.co/2cQ5sgQ/main-img.png");
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: center;

}


//--------------ESTILOS PARA LANDING MOBILE-------------------


.landing-mobile {
    display: flex;
    flex-direction: column;
}

.first-article-mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 2rem;
    height: 100%;
    margin: 2rem 1.1rem 1.1rem 1.1rem;
    padding: 1.1rem;
    font-family: "Raleway", sans-serif;

    img {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }

    h1 {
        font-size: 3.5rem;

    }

    p {
        font-family: "Poppins", sans-serif;
        font-size: 1.2rem;
    }

    button {
        padding: .8rem;
        width: fit-content;
        background-color: $mobile-button;
        text-wrap: nowrap;
    }
}

.about-us-mobile {
    display: flex;
    flex-direction: column;

    .logo-group {
        display: flex;

        img {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }
}