@media (max-width: 600px) {
    html {
      font-size: 12px; /* Ajusta el tamaño para dispositivos más pequeños */
    }

  }
  
  @media (min-width: 1200px) {
    html {
      font-size: 16px; /* Ajusta el tamaño para pantallas más grandes */
    }
}

:root {
    --scale-factor: 1;
  }
  
  @media (max-width: 768px) {
    :root {
      --scale-factor: 0.8; /* Escala al 80% */
    }
  }
