.nav-button {
    color: $main-white;
    padding: .9rem;
    text-decoration: none;
    font-size: 110%;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    border-radius: 1rem;
    // animacion del boton
    transition: all 0.2s;
    transition-timing-function: ease-out;
}

.nav-button:hover {
    color: black;
    background-color: $main-white;
    
}

.active {
    background-color: $main-white;
    color: black;
    border-radius: 1rem;
    width: 100%;
    height: 100%;
}

.navbar {
    
    width: 100%; 
    margin-left: 5%;
    display: flex;
    gap: 3%;
    align-items: center;
    justify-content: space-evenly;
}

