.sobreNosotros-mobile {
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2rem;

    h1 {
        font-family: "Raleway", sans-serif;
        margin-top: 5%;
        font-size: 270%;
        margin-right: 5%;
        margin-left: 5%;

    }

    h2 {
        align-self: center;
        font-size: 140%;
        border-radius: 2rem;
        background-color: $azul-oscuro;
        padding: .7rem;
        color: $main-white;
    }

    p {
        margin-right: 5%;
        margin-left: 5%;
        font-size: 120%;

        strong {
            margin: 0;
            font-size: 105%;
        }
    }

    strong {
        margin-right: 5%;
        margin-left: 5%;
        font-size: 130%;
    }
}

.caja-info-staff {
    display: flex;
    justify-content: space-evenly;

    .info-staff-child {
        display: flex;
        flex-direction: column;

        img {
            object-fit: contain;
            width: 15rem;
            height: 100%;

            

        }


    }

}

.staff-photo:hover {
    transform: translateY(-5px);
    /* Efecto de elevación en hover */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2),
        0 15px 25px rgba(0, 0, 0, 0.15);
    /* Sombra más intensa en hover */
}

.staff-photo {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1),
        /* Sombra más cercana con menor desenfoque */
        0 8px 15px rgba(0, 0, 0, 0.1);
    /* Sombra más lejana con mayor desenfoque */
    border-radius: 14px;
    /* Redondeo de las esquinas para un toque más suave */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* Transición suave para hover */

    
}

//-------------DESKTOP----------------------------

.sobreNosotros-desktop {
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2rem;

    h1 {
        font-family: "Raleway", sans-serif;
        margin-top: 1%;
        font-size: 300%;
        margin-right: 7%;
        margin-left: 7%;

    }

    h2 {
        align-self: center;
        font-size: 250%;
        border-radius: 2rem;
        background-color: $azul-oscuro;
        padding: 1rem;
        color: $main-white;
        
    }

    p {
        margin-right: 7%;
        margin-left: 7%;
        font-size: 130%;

        strong {
            margin: 0;
            font-size: 105%;
        }
    }

    strong {
        margin-right: 7%;
        margin-left: 7%;
        font-size: 140%;
        margin-bottom: 1.5%;
    }
}

.caja-info-staff-desktop {
    display: flex;
    justify-content: space-around;
    padding: 1rem;

    .info-staff-child {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        img {
            object-fit: contain;
            width: 27rem;
            height: 100%;

            

        }


    }

}

.staff-photo-desktop:hover {
    transform: translateY(-5px);
    /* Efecto de elevación en hover */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2),
        0 15px 25px rgba(0, 0, 0, 0.15);
    /* Sombra más intensa en hover */
}

.staff-photo-desktop {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1),
        /* Sombra más cercana con menor desenfoque */
        0 8px 15px rgba(0, 0, 0, 0.1);
    /* Sombra más lejana con mayor desenfoque */
    border-radius: 14px;
    /* Redondeo de las esquinas para un toque más suave */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* Transición suave para hover */

    
}
