.sobreNosotros-mobile {
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2rem;
    h1 {
        font-family: "Raleway", sans-serif;
        margin-top: 5%;
        font-size: 270%;
        margin-right: 5%;
        margin-left: 5%;

    }

    p {
        margin-right: 5%;
        margin-left: 5%;
        font-size: 120%;
        strong {
            margin: 0;
            font-size: 105%;
        }
    }

    strong {
        margin-right: 5%;
        margin-left: 5%;
        font-size: 130%;
    }
}
.caja-info-staff {
    border: 1px solid red;
    display: flex;
    justify-content: space-evenly;
    .info-staff-child {
        border: 1px solid green;
        display: flex;
        flex-direction: column;
        img {
            object-fit: contain;
            width: 15rem;
            height: 100%;
            border-radius: 2rem;
        }
    }
    
}
