// colores que se ultilizan

$main-white: #F5F5F5; 
$text-gray: #2c2c2c;
$button-yellow: #F5B31F;
$bg-c-footer: #e1e1e1;



// colores de santa rita

$azul-de-titulo: #0CC0DF;
$verde-botonesnav-banners:#7ED957;
$dark-gray: #474747;

//Colores imagenes de servicios:
$rosado-diseno: #ff66c4; 
$azul-diseno: #269cb6; 
$naranja-diseno: #f38759 