@charset "UTF-8";
/* Header.scss */
/* Estilos base para el header */
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
.header {
  position: relative;
  display: flex;
  align-self: center;
  justify-content: space-between;
  background-image: url("https://i.ibb.co/g94Ksg2/header-bg-update.pngs");
  background-size: 90%;
  background-repeat: no-repeat;
  height: 21rem;
  width: 100%;
  z-index: 1;
  overflow: hidden; /* Asegura que el fondo no se desborde */
}
@media (max-width: 1000px) {
  .header {
    display: none;
  }
}

/* Animación del fondo del header */
.header.animated {
  animation: bgMove 2s forwards; /* Ajusta el tiempo de la animación */
}

@keyframes bgMove {
  0% {
    background-size: 0%;
  }
  100% {
    background-size: 105rem;
  }
}
/* Animación para el logo */
.header-nav {
  opacity: 0; /* Inicialmente invisible */
  transition: opacity 1s ease-in; /* Transición suave para fade-in */
  display: flex;
  height: 36%;
  width: 47rem;
  position: relative;
  top: 11%;
}
.header-nav.fade-in {
  opacity: 1; /* Se vuelve visible cuando la animación empieza */
}
.header-nav img {
  animation: imgResize 2s forwards; /* Ajusta el tiempo de la animación */
}

@keyframes imgResize {
  0% {
    transform: scale(0.5);
    top: 0;
    left: 0;
  }
  100% {
    transform: scale(1);
    top: 11%;
    left: 0;
  }
}
/* Animación para los contactos */
.header-contacts {
  opacity: 0; /* Inicialmente invisible */
  transition: opacity 1s ease-in; /* Transición suave para fade-in */
  width: 26rem;
  height: 40%;
  position: relative;
  top: 10%;
}
.header-contacts.fade-in {
  opacity: 1; /* Se vuelve visible cuando la animación empieza */
}

.nav-button {
  color: #F5F5F5;
  padding: 0.9rem;
  text-decoration: none;
  font-size: 110%;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  border-radius: 1rem;
  transition: all 0.2s;
  transition-timing-function: ease-out;
}

.nav-button:hover {
  color: black;
  background-color: #F5F5F5;
}

.active {
  background-color: #F5F5F5;
  color: black;
  border-radius: 1rem;
  width: 100%;
  height: 100%;
}

.navbar {
  width: 100%;
  margin-left: 5%;
  display: flex;
  gap: 3%;
  align-items: center;
  justify-content: space-evenly;
}

.section-contacts {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.new-icons {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.wrapper a {
  all: unset;
}

.wrapper .button {
  display: inline-block;
  height: 3.4375rem;
  width: 3.4375rem;
  margin: 0 0.3125rem;
  overflow: hidden;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0rem 0.625rem 0.625rem rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-out;
}
.wrapper .button span {
  font-family: "Poppins", sans-serif;
}

.wrapper .button:hover {
  width: 11.26rem;
}

.wrapper .button .icon {
  display: inline-block;
  height: 3.4375rem;
  width: 3.4375rem;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 3.4375rem;
  transition: all 0.3s ease-out;
}

.wrapper .button:nth-child(1):hover .icon {
  background: #4267B2;
}

.wrapper .button:nth-child(2):hover .icon {
  background: #ea4335;
}

.wrapper .button:nth-child(3):hover .icon {
  background: #E1306C;
}

.wrapper .button:nth-child(4):hover .icon {
  background: #25D366;
}

.wrapper .button:nth-child(5):hover .icon {
  background: #ff0000;
}

.wrapper .button .icon i {
  font-size: 1.5625rem;
  line-height: 3.4375rem;
  transition: all 0.3s ease-out;
}

.wrapper .button:hover .icon i {
  color: #fff;
}

.wrapper .button span {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 3.4375rem;
  margin-left: 0.625rem;
  transition: all 0.3s ease-out;
}

.wrapper .button:nth-child(1) span {
  color: #4267B2;
}

.wrapper .button:nth-child(2) span {
  color: #ea4335;
}

.wrapper .button:nth-child(3) span {
  color: #E1306C;
}

.wrapper .button:nth-child(4) span {
  color: #25D366;
}

.wrapper .button:nth-child(5) span {
  color: #ff0000;
}

/* Estilos base para el landing */
.landing-main {
  display: flex;
  height: 80vh;
  z-index: 2;
  position: relative;
  top: -10rem;
  width: 100%;
  opacity: 0;
  /* Inicialmente invisible */
  transition: opacity 1.5s ease-in;
  /* Transición suave para fade-in */
}
.landing-main.fade-in-3 {
  opacity: 1;
  /* Se vuelve visible cuando la animación empieza */
}

/* Estilos para la sección del landing */
.landing-section {
  position: relative;
  top: 15%;
  left: 4%;
  height: 80%;
  width: 70%;
  padding: 2%;
}

/* Estilos para el primer artículo */
.first-article {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 0;
  height: 100%;
  width: 120%;
  margin-left: 3%;
  font-family: "Poppins", sans-serif;
  /* Asegúrate de definir esta variable en tu archivo de variables */
}
.first-article h1 {
  font-size: 5.2rem;
  padding-left: 0;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
}
.first-article h2 {
  padding-bottom: 1%;
  font-size: 2rem;
  color: black;
}
.first-article p {
  margin-bottom: 1.5%;
  font-weight: 400;
  font-size: 1.1rem;
  color: #2c2c2c;
  width: 80%;
  padding-left: 0;
}
.first-article strong {
  font-size: 1.2rem;
  color: #2c2c2c;
}

/* Estilos para el botón de la sección del landing */
.landing-section-button {
  border: none;
  margin-top: 5%;
  background-color: #F5B31F;
  /* Asegúrate de definir esta variable en tu archivo de variables */
  font-family: "Raleway", sans-serif;
  font-size: 1.2rem;
  padding: 1.5%;
  color: #fafafa;
  font-weight: 700;
  border-radius: 0.9rem;
  cursor: pointer;
  transition: all 0.2s;
  transition-timing-function: ease-out;
  text-transform: uppercase;
}
.landing-section-button:hover {
  color: #F5F5F5;
  /* Asegúrate de definir esta variable en tu archivo de variables */
  background-color: black;
}

/* Estilos para la imagen de fondo del landing */
.landing-image {
  height: 100%;
  width: 100%;
  background-image: url("https://i.ibb.co/2cQ5sgQ/main-img.png");
  background-size: 120%;
  background-repeat: no-repeat;
  background-position: center;
}

.landing-mobile {
  display: flex;
  flex-direction: column;
  margin-bottom: 20vh;
}

.first-article-mobile {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 3rem;
  height: 100%;
  margin: 2rem 1.1rem 1.1rem 1.1rem;
  padding: 1.1rem;
  font-family: "Raleway", sans-serif;
}
.first-article-mobile img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.first-article-mobile h1 {
  font-size: 3.5rem;
}
.first-article-mobile p {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
}
.first-article-mobile button {
  padding: 0.8rem;
  width: fit-content;
  background-color: #2f6735;
  text-wrap: nowrap;
}

.burger-mobile {
  display: flex;
  width: 40%;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
}
.burger-mobile .burger-mobile-logo {
  height: 100%;
  width: auto;
}
.burger-mobile .burger-mobile-logo img {
  height: 100%;
  width: auto;
}
.burger-mobile h2 {
  font-family: "Raleway", sans-serif;
  color: #F5F5F5;
  text-wrap: nowrap;
}

.nav-burger {
  width: 100%;
  height: 5em;
  background-color: black;
  border-radius: 1px solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  z-index: 6;
}

.burger-menu {
  height: 90%;
  width: 4em;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  cursor: pointer;
  z-index: 5;
}

.burger-bar {
  width: 4em;
  height: 0.37em;
  background-color: #F5F5F5;
  border-radius: 0.5em;
  z-index: 4;
}

.menu {
  width: 50%;
  height: 100vh;
  background-color: black;
  z-index: 6;
  position: fixed;
  transition: all 0.3s;
  overflow: hidden;
}

.slide-right {
  animation: slide-right 0.3s ease-in both;
}

@keyframes slide-right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
.hidden {
  display: none;
}

.visible {
  display: inherit;
}

.burger-bar.clicked:nth-child(1) {
  transform: rotate(43deg) translate(0.73em, 1.23em);
  transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(2) {
  transform: scale(0);
  transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(3) {
  transform: rotate(133deg) translate(-0.47em, 0.97em);
  transition: ease-out 0.5s;
}

.burger-bar.unclicked {
  transform: rotate(0), translate(0);
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}

.burger-nav-menu {
  width: fit-content;
  height: 40vh;
  background-color: black;
  position: relative;
  z-index: 6;
}
.burger-nav-menu ul li {
  list-style: none;
}

.burger-nav-item {
  background-color: black;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: x-large;
  color: white;
}

.burger-nav-ul li {
  margin: 1rem;
  padding: 0.5rem;
}

.burger-active {
  color: #474747;
}

@media (min-width: 1000px) {
  .burger-god {
    display: none;
  }
}

.overlay {
  position: fixed;
  top: 5em;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semitransparente */
  z-index: 4; /* Asegura que esté por encima de otros elementos */
}

.burger-god.menu-active {
  overflow: hidden; /* Evita el desplazamiento del contenido detrás del menú */
}

.burger-god.menu-active .overlay {
  display: block; /* Muestra la capa de fondo oscuro cuando el menú está activo */
}

.no-scroll {
  overflow: hidden; /* Desactiva el scroll en la página */
}

.intro-overlay {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  z-index: 5;
}
.intro-overlay.hidden {
  display: none;
}
.intro-overlay.complete {
  background-color: transparent;
}
.intro-overlay.complete .logo-container {
  animation: fadeOutLogo 1s ease-out 2s forwards;
}
.intro-overlay.complete::before, .intro-overlay.complete::after {
  content: "";
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  background-color: black;
  z-index: 5;
  transition: transform 0.5s ease-in-out;
}
.intro-overlay.complete::before {
  left: 0;
  transform: translateX(-100%);
}
.intro-overlay.complete::after {
  right: 0;
  transform: translateX(100%);
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.logo {
  width: 400px;
  height: auto;
  transition: transform 0.5s ease-in-out;
  animation: rotateLogo 1s ease-in-out infinite;
}

.fade-out {
  animation: fadeOutLogo 1s ease-out 0.3s forwards;
}

@keyframes rotateLogo {
  0% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1) rotate(360deg);
  }
  100% {
    transform: scale(1.2) rotate(360deg);
  }
}
@keyframes fadeOutLogo {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.main-footer {
  background-color: #e1e1e1;
  width: 100vw;
}

.footer-button {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  color: #2c2c2c;
  background-color: transparent;
  font-weight: 700;
}

.buttons-section {
  display: flex;
  justify-content: space-around;
  width: 45vw;
  height: 100%;
  padding: 1%;
}

.fd-logo-section {
  height: 10%;
  width: 10%;
  object-fit: contain;
}

.footer-upper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 2%;
}

.footer-lower {
  display: flex;
  justify-content: center;
}

.lower-border {
  border-top: 1px solid black;
  width: 50vw;
  display: flex;
  justify-content: center;
  padding: 1%;
}
.lower-border p {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
}

.mobile-footer {
  background-color: #e1e1e1;
  width: 100vw;
}

.buttons-mobile-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 100%;
  padding: 1%;
}

.fd-mobile-logo-section {
  height: 40%;
  width: 40%;
  object-fit: contain;
}

.footer-mobile-upper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 2%;
}

.lower-mobile-border {
  border-top: 1px solid black;
  width: 60vw;
  display: flex;
  justify-content: center;
  padding: 1%;
  margin-top: 2%;
  margin-bottom: 2%;
  padding-top: 2%;
}
.lower-mobile-border p {
  font-family: "Poppins", sans-serif;
  font-size: 120%;
  text-align: center;
}

.footer-mobile-button {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  color: #2c2c2c;
  background-color: transparent;
  font-weight: 700;
  font-size: 130%;
}

.main-inicio {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.app-container {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
}

/* Utility Classes */
.hidden {
  display: none;
}

.visible {
  display: block;
}

.about-us-mobile {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1rem;
  margin: 2.2rem;
  border-bottom: 1px solid #474747;
  padding-bottom: 3rem;
}
.about-us-mobile .logo-group {
  display: flex;
  height: 6rem;
  align-items: center;
  justify-content: center;
}
.about-us-mobile .logo-group .logo-us {
  background-image: url("https://i.ibb.co/Dk7vj70/logo-fd.png");
  background-size: cover;
  height: 10rem;
  width: 6rem;
  background-repeat: no-repeat;
  background-position: center;
}
.about-us-mobile .logo-group h1 {
  font-family: "Raleway", sans-serif;
  text-wrap: nowrap;
  font-size: 2.5rem;
  text-wrap: nowrap;
}
.about-us-mobile p {
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
  text-align: center;
  padding: 1.2rem;
}

.about-us-desktop {
  display: flex;
  justify-content: space-between;
  align-self: center;
  align-items: center;
  padding-right: 7rem;
  padding-left: 7rem;
  padding-bottom: 5rem;
  margin: 3rem;
  margin-top: 0;
  margin-bottom: 5rem;
}

.about-us-img-desktop {
  width: 110%;
  height: 100%;
  object-fit: contain;
}

.text-section-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.text-section-right .text-group {
  width: 80%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
}
.text-section-right p {
  font-family: "Poppins", sans-serif;
  margin: 1rem;
  font-size: 1.4rem;
}
.text-section-right .NavLink {
  text-decoration: underline;
  color: black;
  font-weight: bold;
}
.text-section-right .logo-group {
  display: flex;
  height: 9rem;
  align-items: center;
  justify-content: flex-start;
}
.text-section-right .logo-group img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.text-section-right .logo-group h1 {
  font-family: "Raleway", sans-serif;
  text-wrap: nowrap;
  font-size: 3.1rem;
  padding-right: 5rem;
}

.initialServices-mobile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: "Poppins", sans-serif;
  margin: 1rem;
  padding: 1rem;
}
.initialServices-mobile img {
  width: 20rem;
  height: 20rem;
  object-fit: cover;
  margin-bottom: 2rem;
}
.initialServices-mobile h1 {
  text-align: center;
  margin-bottom: 1rem;
}
.initialServices-mobile p {
  text-align: center;
  font-size: 1.23rem;
}
.initialServices-mobile h1:nth-child(1) {
  color: #ff66c4;
}
.initialServices-mobile h1:nth-child(4) {
  color: #269cb6;
}
.initialServices-mobile h1:nth-child(7) {
  color: #f38759;
}

.initialServices-desktop {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4rem;
  margin-top: 0;
}
.initialServices-desktop .diseno-web,
.initialServices-desktop .asesoramiento,
.initialServices-desktop .diseno-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.initialServices-desktop .diseno-web img,
.initialServices-desktop .asesoramiento img,
.initialServices-desktop .diseno-logo img {
  width: 40vw;
  height: 40vw;
  object-fit: contain;
  margin-bottom: 2%;
  margin-right: 2.5%;
  margin-left: 3%;
}
.initialServices-desktop .diseno-web p,
.initialServices-desktop .asesoramiento p,
.initialServices-desktop .diseno-logo p {
  color: #2c2c2c;
  font-size: 160%;
  margin-top: 2rem;
  text-align: center;
  font-family: "Poppins", sans-serif;
  padding: 1rem;
  margin-right: 7rem;
  margin-left: 7rem;
}
.initialServices-desktop .diseno-web h1,
.initialServices-desktop .asesoramiento h1,
.initialServices-desktop .diseno-logo h1 {
  font-size: 320%;
  font-family: "Poppins", sans-serif;
  padding-top: 10rem;
  text-align: center;
  margin-left: 7%;
  margin-right: 7%;
}
.initialServices-desktop .diseno-web div:nth-child(2),
.initialServices-desktop .asesoramiento div:nth-child(2),
.initialServices-desktop .diseno-logo div:nth-child(2) {
  color: #269cb6;
}
.initialServices-desktop .diseno-web div:nth-child(2) p,
.initialServices-desktop .asesoramiento div:nth-child(2) p,
.initialServices-desktop .diseno-logo div:nth-child(2) p {
  color: #2c2c2c;
}
.initialServices-desktop .diseno-web .rosa,
.initialServices-desktop .asesoramiento .rosa,
.initialServices-desktop .diseno-logo .rosa {
  color: #ff66c4;
}
.initialServices-desktop .diseno-web .naranja,
.initialServices-desktop .asesoramiento .naranja,
.initialServices-desktop .diseno-logo .naranja {
  color: #f38759;
}

.cta-mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Raleway", sans-serif;
  padding: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 100%;
  height: auto;
}
.cta-mobile h1 {
  text-align: center;
  text-transform: uppercase;
  padding: 2rem;
}
.cta-mobile button {
  border: 2px solid black;
  text-transform: capitalize;
  color: black;
  padding: 1rem;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  font-size: 1.7rem;
  margin-left: 1.4rem;
  margin-right: 1.4rem;
  border-radius: 1.6rem;
}

.slider-section {
  width: 98vw;
  height: 100%;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.swiper-div {
  width: 98%;
  height: 100%;
  margin: 0 auto;
  border: 1px solid #2c2c2c;
  border-radius: 1.4rem;
  background-color: #F5F5F5;
}

.flex {
  display: flex;
  padding: 1rem;
  justify-content: space-around;
  align-items: center;
  font-family: "Poppins", sans-serif;
}
.flex p {
  font-size: 1.08rem;
  margin: 1rem;
}
.flex img {
  object-fit: contain;
  width: 9rem;
  height: 9rem;
  margin: 2rem;
}
.flex h3 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  text-align: center;
}

.cta-desktop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8%;
  padding: 6%;
  margin-top: 0;
  margin-bottom: 0;
}

.article-services-list-img {
  background-image: url("https://i.ibb.co/LJP3Snh/servicios-4.png");
  width: 100%;
  height: 65vh;
  background-position: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}

.article-services-list-items {
  padding: 2%;
}

.article-services-items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Raleway", sans-serif;
}
.article-services-items h4 {
  font-size: 1.4rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 2%;
  color: #2c2c2c;
}
.article-services-items ion-icon {
  font-size: 32px;
  margin-right: 3%;
  --ionicon-stroke-width: 1.9rem;
}

.article-services-title {
  font-size: 1.8rem;
  padding: 2%;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
}

.article-services-p {
  font-size: 1.1rem;
  padding: 5% 2%;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  color: #2c2c2c;
}

.article-services-button {
  color: #2c2c2c;
  margin: 7% 0% 0%;
  padding: 2% 6%;
  background-color: #ffce2b;
  border-radius: 1.3rem;
  font-size: 1.2rem;
  width: 100%;
  text-transform: capitalize;
  transition: all 0.5s !important;
}

.article-services-button:hover {
  background-color: black;
  color: #F5F5F5;
}

.faqs-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: "Poppins", sans-serif;
  margin-top: 2rem;
  margin-bottom: 2rem;
  gap: 3rem;
  width: 100%;
}
.faqs-section h3 {
  font-size: 1.8rem;
  color: #2c2c2c;
}
.faqs-section h1 {
  margin-top: 1.7rem;
  font-size: 3.2rem;
}
.faqs-section .faqs-div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.faqs-section .faqs-div h3:nth-child(2) {
  font-weight: 300;
}
.faqs-section .contact-form {
  margin-top: 3rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
  max-width: 38rem;
  border: 1px solid rgb(160, 160, 160);
  padding-top: 1rem;
  border-radius: 1.2rem;
  padding: 1rem;
  margin-bottom: 2rem;
}
.faqs-section .contact-form input,
.faqs-section .contact-form textarea {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 1rem;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
}
.faqs-section .contact-form input:focus,
.faqs-section .contact-form textarea:focus {
  border-color: #2c2c2c;
  box-shadow: 0 4px 8px rgba(51, 51, 51, 0.5);
  outline: none;
}
.faqs-section .contact-form textarea {
  resize: none;
  height: 100px;
}
.faqs-section .contact-form h4 {
  font-size: 1.2rem;
  color: #2c2c2c;
  font-weight: 500;
}

.form-x-faqs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
}
@media (max-width: 1212px) {
  .form-x-faqs {
    flex-direction: column;
  }
}

.faq-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins", sans-serif;
}
.faq-section h3 {
  margin-bottom: 1rem;
  font-size: 1.7rem;
}
@media (max-width: 1212px) {
  .faq-section {
    flex-direction: column;
    display: block;
  }
  .faq-section h3 {
    text-align: center;
  }
}
.faq-section .typography {
  font-family: "Poppins", sans-serif;
}

.swal2-popup {
  font-family: "Poppins", sans-serif;
}

.article-services-button.landing-section-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 0.8rem;
  cursor: pointer;
  transition: all 0.3s ease;
}
.article-services-button.landing-section-button:disabled {
  background-color: white;
  cursor: not-allowed;
}
.article-services-button.landing-section-button .spinner {
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top: 3px solid #fff;
  width: 1rem;
  height: 1rem;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn2 {
  0% {
    opacity: 0;
    transform: translateY(20px) scale(0.9);
  }
  60% {
    opacity: 1;
    transform: translateY(-5px) scale(1.05);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
@keyframes fadeOut2 {
  0% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
  40% {
    opacity: 1;
    transform: translateY(5px) scale(1.05);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px) scale(0.9);
  }
}
.fade-in-2 {
  animation: fadeIn2 0.6s ease-in-out forwards;
}

.fade-out-2 {
  animation: fadeOut2 0.6s ease-in-out forwards;
}

.main-services-mobile {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}
.main-services-mobile h1,
.main-services-mobile p,
.main-services-mobile h2,
.main-services-mobile strong {
  margin-right: 5%;
  margin-left: 5%;
}
.main-services-mobile h1 {
  margin-top: 4%;
  font-size: 270%;
}
.main-services-mobile p,
.main-services-mobile strong {
  font-size: 120%;
}
.main-services-mobile .h1-2 {
  align-self: center;
  text-align: center;
}
.main-services-mobile h2 {
  align-self: center;
}

.contacto-ahora-mobile {
  align-self: center;
  margin-bottom: 5%;
}

.swiper-div-servicios {
  width: 98%;
  height: 100%;
  margin: 0 auto;
  border: 1px solid #2c2c2c;
  border-radius: 1.4rem;
  background-color: #F5F5F5;
}

.flex-servicios {
  display: flex;
  padding: 1rem;
  justify-content: space-around;
  align-items: center;
  font-family: "Poppins", sans-serif;
}
.flex-servicios p {
  font-size: 1.08rem;
  margin: 1rem;
}
.flex-servicios img {
  object-fit: contain;
  width: 9rem;
  height: 9rem;
  margin: 2rem;
}
.flex-servicios h3 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  text-align: center;
}

.mobile-slider {
  width: 98vw;
  height: 100%;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.main-services-desktop {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  gap: 4%;
  font-size: 110%;
}
.main-services-desktop h1,
.main-services-desktop p,
.main-services-desktop h2,
.main-services-desktop strong {
  margin-right: 7%;
  margin-left: 7%;
}
.main-services-desktop h1 {
  margin-top: 9%;
  font-size: 270%;
}
.main-services-desktop p,
.main-services-desktop strong {
  font-size: 130%;
}
.main-services-desktop .h1-1 {
  align-self: center;
  text-align: center;
  margin: 2%;
}
.main-services-desktop h2 {
  align-self: center;
}

.desktop-slider {
  width: 98vw;
  height: 100%;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.swiper-servicios-desktop {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  border: 1px solid #2c2c2c;
  border-radius: 1.4rem;
  background-color: #F5F5F5;
}

.flex-servicios-desktop {
  display: flex;
  padding: 1rem;
  justify-content: space-around;
  align-items: center;
  font-family: "Poppins", sans-serif;
}
.flex-servicios-desktop p {
  font-size: 130%;
  margin: 1rem;
}
.flex-servicios-desktop img {
  object-fit: contain;
  width: 100%;
  height: 45vh;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.flex-servicios-desktop h3 {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 220%;
  text-align: center;
}

.contacto-ahora-desktop {
  align-self: center;
  margin-bottom: 13%;
}

@media (max-width: 1000px) {
  .hiddenInMobile {
    display: none;
  }
}

@media (min-width: 1000px) {
  .hiddenInDesktop {
    display: none;
  }
}

html {
  font-size: 12px;
}

@media (min-width: 1500px) {
  html {
    font-size: 16px;
  }
}
:root {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
  /* IE y Edge antiguos */
}

body {
  background-color: #F5F5F5;
}

::selection {
  background-color: #F5B31F;
  /* Fondo amarillo */
  color: #000000;
  /* Texto negro */
}

/*# sourceMappingURL=main.css.map */
